img{
    /* margin-bottom: auto; */
    margin: auto;
}

.tech-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.tech {
    float: left;
    margin-right: 1.5rem;
  }

  .project-page{
    margin-top: 14rem;
    margin-bottom: 14rem;
    /* border-top-color: rgb(0, 89, 255);
    border-top-width: 2px;
    border-top-style: solid; */
  }