img{
    margin: auto;
}

.tech-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.tech {
    float: left;
    margin-right: 1.5rem;
  }

  .project-page{
    margin-top: 14rem;
    margin-bottom: 14rem;
    padding: 2rem;
  }

.btn-primary{
  border-radius: 20px;
  margin: 1rem;
}