.Link{
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 5px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.card-img-top{
    width: 17.7rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    padding: inherit;
}

.card:hover{
    opacity: 0.8;
}

.card:active {
    box-shadow: -2px -3px 1px #666, 2px 0px 1px #666;
    transform: translateY(4px);
  }